nav{
    width: 100%;
    height: 70px;
    background-color: #06124e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    
}

.Logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.menu{
    display: flex;
  gap: 20px;
  margin-left: auto ;
  margin-right: 50px;
}
.menu a{
    color: white;
  margin-left: auto 50px;
  gap: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3;
  
}
.menu a:hover{
   color: rgb(3, 252, 231); 
           box-shadow: 0 4px 15px rgba(139, 92, 246, 0.3);
}
i{
    color: rgb(255, 255, 255);
width: 30px;
}


main{
    flex: 1px;
}


footer{
    background-color: #06124e;
    padding: 20px;
}



nav{
    width: 100%;
    height: 70px;
    background-color: #06124e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.Logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.menu{
    display: flex;
  gap: 20px;
  margin-left: auto ;
 
}
.menu a{
    color: white;
  margin-left: auto 50px;
  gap: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3;
  
}
.menu a:hover{
    color: cyan;
}
i{
    color: rgb(255, 255, 255);
width: 30px;
}

.menu2{
    background: #07135c;
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu2 a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
a:hover{
    color: rgb(3, 252, 231); 
           box-shadow: 0 4px 15px rgba(139, 92, 246, 0.3);
}


*{
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times,
    'Times New Roman', serif;
    background-color: rgb(231, 229, 226);
}

 .general{
    background-color: rgba(245, 248, 250, 0.952);
    text-align: center;
    width:90%;
        max-width:1100px;
        margin:40px auto;
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:30px;

h2{
        color: rgb(8, 75, 201);
    }
}
 .informacion{
    text-align: justify;
    
 }
 .comunicacion{ 
    width: 700px;
    text-align: justify;
    margin-top:20px;

 }
 .comunicacion a{
    text-decoration:none;
        margin-right:15px;
        color:white;
        background:#2563eb;
        padding:10px 15px;
        border-radius:8px;
        transition:0.3s;
 }
 .comunicacion a:hover{
    
     background:#1d4ed8;
 }
 .contacto{
    background-color: rgb(248, 246, 243);
    width:90%;
        max-width:1100px;
        margin:40px auto;
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:30px;

        h2{
           color: rgb(8, 75, 201);
           text-align: center;
        }
        .enviar{
            padding: 12px;
            border: none;
            margin-bottom: 20px;
            background-color: rgb(5, 137, 189);
            color: white;
        }
 }
 form input, form textarea{
    margin-bottom:15px;
        padding:12px;
        border:1px solid #ccc;
        border-radius:8px;
        font-size:16px;
 }
 form{
    display: flex;
    flex-direction: column;
 }
 form textarea{
    resize: none;
    height: 120px;
 }

 @media(max-width:768px){}
 .contenedor{
    grid-template-columns: 1fr;
 }
 
 .iconos{
    color: #2563eb;
 }
 .ik{
    color: white;
 }